<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Static JS CMS</title>
    <script is:inline src="https://unpkg.com/@staticcms/core@%5E1.0.0-beta4/dist/static-cms-core.js"></script>
</head>
<body>
<script is:inline>
const config = {
  backend: {
    name: 'github',
    repo: 'fimion/alex-party',
    branch: 'master'
  },
  media_folder: "public/uploads",
  public_folder: "/uploads",
  site_url: "https://alex.party",
  display_url: "https://alex.party",
  collections:[
    {
      name: "posts",
      label: "Posts",
      label_singular: "Post",
      folder: "src/pages/posts",
      create: true,
      slug: "{{year}}-{{month}}-{{day}}-{{slug}}",
      summary: "{{pubDate}} - {{title}} - Draft: {{draft}}",
      sortable_fields: {
        fields:['pubDate'],
        default:{
          field: 'pubDate',
          direction: 'Descending'
        }
      },
      fields:[
        {name: 'layout',
          label: 'Layout',
          widget: 'hidden',
          default: '../../layouts/BlogPost.astro',
        },
          {label: "Title", name: "title", widget: "string"},
          {label: "Publish Date", name: "pubDate", widget: "datetime"},
          {label: "Draft", name: "draft", widget: "boolean", default: true},
          {label: "Body", name: "body", widget: "markdown"},
          ]
    }
  ]
}

window.CMS.init({config})
</script>
</body>
</html>
